.App {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.App button {
  height: 50px;
  width: 305px;
  background-color: coral;
  cursor: pointer;
}